/* style sheet for website1 */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: scroll;

}

/* Page will be broken into 6 column sections. Header, containers 1-4 and footer */
/* ----------------------------------------------------------------------------- */

/* Section one Header */

header {

    display: flex;
    justify-self: flex-start;
    background-color: rgb(94, 1, 1);
    gap: 16px;
    padding: 25px;
    align-content: center;

}
header .sub-container1{
    box-shadow: 10, 10, 16, rgb(36, 34, 34);
    border-radius: 75%;
    display: flex;
    width: 100px;
    justify-self: flex-start;
    font-size: 30px;
    color: black;
    background-color: rgb(13, 12, 63);
    align-content: center;
    justify-content: center;
    margin-left: 120px;
    
}
header .sub-container2 {
    justify-self: flex-end;
    display: flex;
    color: black;
    align-items: center;
    margin-left: auto;
    margin-right: 120px;
}
ul { 
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
    font-size: 15px;
    justify-content: space-between;
}
a {
    text-decoration: none;
}

/* Section two, container1 */

.main-container1 {
    display: flex;
    background-color: rgb(94, 1, 1);
    align-items: center;
    justify-content: center;
}
.main-container1 .sub-container1{
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 90px;
    margin-right: 90px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    gap: 30px;

}
.main-container1 .sub-container1 .item1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    align-content: space-between;
}
.main-container1 .sub-container1 .item1 h1 {
    font-size: 30px;
}
/* .main-container1 .sub-container1 .item1 .sub-item1 {

} */
.main-container1 .sub-container1 .item1 button {
    display: flex;
    font-size: 16px;
    align-items: center;
    height: 30px;
    width: 100px;
    justify-content: center;
    border-radius: 10px;
    justify-self: flex-start ;
    background-color: rgb(13, 12, 63);

}
.main-container1 .sub-container1 .item2 {
    border-radius: 10px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 34, 34);
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    
}
.main-container1 .sub-container1 .item2 .sub-item1 {
    color: white;

}


/* Section three, container2 */

.main-container2 {
    display: flex;
    padding: 120px;
    align-content: center;
    justify-items: center;
    flex-direction: column;

}
.main-container2 .sub-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;

}
.main-container2 .sub-container1 .item1 {
 padding: 30px;
}
.main-container2 .sub-container2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    gap: 25px;

} 
.main-container2 .sub-container2 .item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
}
.main-container2 .sub-container2 .item4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.main-container2 .sub-container2 .item1 .sub-item1 {
    border: 2px solid !important;
    border-color: rgb(13, 12, 63) !important;
    height: 120px;
    width: 120px;
    border-radius: 5px;
}

/* Section four, container3 */

.main-container3 {
    display: flex;
    flex-direction: column;
    background-color: rgb(114, 70, 70);
    align-items: center;
    justify-content: center;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;

}
.main-container3 .sub-container1 {
    display: flex;
    align-items: center;
    font-size: 20px !important;
    padding: 20px;

}
.main-container3 .sub-container2 {
    display: flex;
    justify-self: center;
    align-self: flex-end;
    margin-right: 60px ;
    

}

/* Section five, container4 */

.main-container4 {
    display: flex;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 75px;
    padding-top: 75px;
    align-content: center;
    justify-content: center;


}
.main-container4 .sub-container1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(167, 23, 23);
    align-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;


}
.main-container4 .sub-container1 .item1 {
    font-size: 20px;

}
.main-container4 .sub-container1 .item2 {
    font-size: 15px

}
.main-container4 .sub-container2 {
    display: flex;
    background-color: rgb(167, 23, 23);
    align-content: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px; 

}
.main-container4 .sub-container2 button {
    display: flex;
    background-color: rgb(13, 12, 63);
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 80px;
    font-size: 15px;
}
/* Section six, footer */

footer {
    display: flex;
    justify-self: self-end;
    background-color: rgb(94, 1, 1);
    padding: 15px;
    align-content: center;
    justify-content: center;
}
footer .item1{
    font-size: 10px;

}

/* ----------------------------------------------------------------------------- */
